.btn-callout, .btn-info {
  color: #fff;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em; }
  .btn-callout:hover, .btn-info:hover {
    color: #fff;
    opacity: 0.8; }
  .btn-callout:active, .btn-info:active {
    opacity: initial; }

.test {
  width: 40%; }

/* BASE ------------------------------------------------- */
* {
  box-sizing: border-box; }

body {
  margin: 0;
  color: #343434;
  font-size: 1rem;
  line-height: 1.5;
  font-family: "Raleway", sans-serif;
  text-align: center; }

h1,
h2 {
  font-family: "Bree Serif", Serif; }

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; }

p {
  margin-bottom: 1.25em; }
  .intro p {
    font-size: 1.2em; }

a {
  color: #278da4;
  text-decoration: none; }
  a:hover {
    color: #b13c69; }

/* HEADER & FOOTER ----------------------------------------- */
.header {
  position: relative;
  height: 90vh;
  min-height: 100px;
  background: linear-gradient(#009fe1, #3acec2), url("../img/bg.jpg") no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  position: relative; }
  .header__heading {
    margin-bottom: 0;
    color: #fff;
    font-size: 4.8em;
    letter-spacing: 1px; }
  .header__text {
    margin: 0;
    color: #eeea72;
    font-size: 1.25em; }
  .header::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    transform: skewY(-2deg);
    background-color: #3acec2;
    bottom: -25px; }

.footer {
  margin-top: 3.5em;
  padding: 2em 0 0;
  height: 100px;
  background-color: #eee;
  position: relative; }
  .footer::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    transform: skewY(-2deg);
    background-color: #eee;
    top: -25px; }

/* CONTAINERS ---------------------------------------------- */
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  padding: 0.5em 1em; }

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: auto;
  padding: 1em 1em 3em; }

/* COMPONENTS ----------------------------------------------- */
.about {
  position: relative;
  height: 70vh;
  min-height: 200px;
  background-color: #3acec2;
  position: relative; }
  .about::after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    transform: skewY(-2deg);
    background-color: #3acec2;
    bottom: -25px; }
  .about .vr-icon {
    width: 50px;
    height: 50px; }

.main-nav {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  padding: 1em 0;
  background-color: rgba(39, 141, 164, 0.7); }
  .main-nav__item {
    display: inline-block;
    margin: 0 0.65em; }
  .main-nav__link {
    padding: 0.5em;
    color: #fff;
    font-size: 0.85em;
    text-decoration: none;
    text-transform: uppercase; }
    .main-nav__link:hover {
      color: rgba(238, 234, 114, 0.7); }
    .main-nav__link-active {
      outline: none;
      color: rgba(238, 234, 114, 0.7); }

.main-content {
  margin: 7rem 0; }

.card {
  display: flex;
  flex-direction: column;
  padding: 1.5em 1em;
  border: 1px solid #eee;
  border-radius: .25em; }
  .card .heading-primary {
    margin: 0.35em 0 0;
    line-height: 1.25;
    color: #278da4; }

.material-icons {
  font-size: 2.35em;
  color: #31b0cd; }

.btn-callout {
  font-size: 1.1em;
  background-color: #b13c69; }

.btn-info {
  margin-top: auto;
  font-size: 0.85em;
  background-color: #278da4; }

/* MEDIA QUERIES ------------------------------------------------- */
@media (max-width: 575px) {
  .header {
    height: 340px; }
  .header .header__heading {
    font-size: 3.4em; }
  .img-featured {
    display: none; }
  .intro {
    padding: 0; }
  .intro-text {
    margin-bottom: .7rem; }
  .btn-callout {
    font-size: .8rem; } }

@media (min-width: 576px) {
  .main-content {
    display: flex;
    flex-wrap: wrap; }
  .card {
    flex: 1; } }

@media (min-width: 768px) {
  .main-content {
    width: 90%;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto; } }

@media (min-width: 992px) {
  .header {
    background-position: 0 0, 0 45%; }
  .intro {
    width: 45%; } }
