%clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

%btn {
  color: $white;
  display: inline-block;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.75em 1.5em;
  border-radius: 0.35em;
  &:hover {
    color: $white;
    opacity: 0.8;
  }
  &:active {
    opacity: initial;
  }
}
